@page
@model Agri_Enery_Connect.Areas.Identity.Pages.FarmerProducts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FarmerProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FarmerProduct.Id" />
            <div class="form-group">
                <label asp-for="FarmerProduct.ProductName" class="control-label"></label>
                <input asp-for="FarmerProduct.ProductName" class="form-control" />
                <span asp-validation-for="FarmerProduct.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmerProduct.CategoryID" class="control-label"></label>
                <input asp-for="FarmerProduct.CategoryID" class="form-control" />
                <span asp-validation-for="FarmerProduct.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmerProduct.ProductionDate" class="control-label"></label>
                <input asp-for="FarmerProduct.ProductionDate" class="form-control" />
                <span asp-validation-for="FarmerProduct.ProductionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmerProduct.Users" class="control-label"></label>
                <input asp-for="FarmerProduct.Users" class="form-control" />
                <span asp-validation-for="FarmerProduct.Users" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
